body {
    font-family: "Raleway", "avenir";
    font-weight: 100;
    padding: .5rem;
    text-align: center;
    width: 600px;
    height: 500px;
    background-color: #F5F8FF;
    border: 2px solid #1C4DFB;
    margin: 0px;
  }
  

#app-title {
    display: inline-flex;
    font-size:50px!important; 
    color: #1C4DFB;
    margin-top: -2.8rem;
    font-weight: lighter;
}



#porfolio-connect {
    display: block;
    width: 400px;
    height: 200px;
    border-color: blue;
}

#portfolios img{
    width: 5rem;
    margin: .6rem;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 1rem;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    margin-top: -0.5px;
    margin-left: -5px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#authentication-view {
    background-color: #F5F8FF;
    border: 2px solid #1C4DFB;
    border-radius: 15px;
}

#set-up-view {
    padding: 0 10px;
}

.blue-button {
    background-color: #1C4DFB; 
    font-size: medium; 
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
}


.hidden {
    display: none;
}