body {
  font-family: "Raleway", "avenir";
  font-weight: 100;
  padding: .5rem;
  text-align: center;
  width: 600px;
  height: 500px;
}



button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#app-title {
  display: inline-flex;
  font-size:50px!important; 
  color: #1C4DFB;
  margin-top: -2.8rem;
  font-weight: lighter;
}

